langchain-cohere
cohere
streamlit 
python-dotenv 
langchain 
langchain-google-genai 
google-generativeai 
langchain-community 
sqlalchemy 
psycopg2-binary 
langsmith 
pandas 
tabulate
langchain-aws 
boto3